@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    background-color: #0E0F34;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px ;
    background: #0E0F34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    
}

.header.sticky {
    border-bottom: 1.6px solid rgba(0,0,0,0.2);
}


.navbar a{
    font-size: 25px;
    color: white;
    margin-right: 50px;
    text-decoration: none;     
}

.logo{
    font-size: 1px;
    color: #0E0F34;
    font-weight: 600;
    cursor: default;
}

.navbar a:hover,
.navbar a.active{
    color: skyblue;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: auto;
    animation: floatImage 5s ease-in-out infinite;
    margin-top: 30px;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-38.4px);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

span{
    color: skyblue;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 2.3px;
    color: white;
}

.home-content p{
    font-size: 18px;
    color: white;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3.2px solid skyblue;
    border-radius: 50%;
    font-size: 22px;
    color: skyblue;
    margin: 10px 24px 30px 0;
    transition: 0.5s ease;
    text-decoration: none;
}

.social-media a:hover{
    background: skyblue;
    color: #0E0F34;
    box-shadow: 0 0 16px skyblue;
}

.btn{
    display: inline-block;
    padding: 8px 25px;
    background: #87ceeb;
    border-radius: 64px;
    box-shadow: 0 0 5px skyblue;
    font-size: 20px;
    color:#0E0F34;
    letter-spacing: 1.6px;
    font-weight: 600;
    transition: 0.5s ease;
    text-decoration: none;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 90px;
}
.about-content h3{
    font-size: 40px;
    color: white;
    font-weight: 400;
}

.about-content p{
    font-size: 18px;
    margin-top: -30px;
    color: rgb(226, 226, 226);
    font-weight: 200;
}

.skills-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 90px;
}

.skills h1{
    font-size: 50px;
    color: white;
    margin-top: 70px;
    font-weight: 500;
}

.skills-boxes{
    background-color: #2c2d6834;
    color: rgb(226, 226, 226);
    height: 280px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    transition: 1s ease;
    margin-top: -45px;    
}

.skills-boxes h2{
    font-weight: 500;
    font-size: 20px;
}

.skills-boxes p{
    font-weight: 300;
}

.skills-boxes:hover{
    border: 3px solid skyblue;
    transform: scale(1.02);
}

.contact h2{
    margin-bottom: 48px;
    font-size: 50px; 
    text-align: center; 
    color: white; 
    font-weight: 600;
}

.contact form{
    max-width: 500px;
    margin: 16px auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -40px;
}

.contact form .inputbox{
    display:inline-flex;
    justify-content:space-between;
    gap: 20px;
}

.contact form .inputbox input,
.contact form textarea{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #2c2d6834;
    border-radius: 0.8rem;
    border-color: #2c2d6834;
    margin: 10px 0;
}

.contact form .inputbox input{
    width: 50%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 32px;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 1%;
    color: rgb(226, 226, 226);
}

.footer-text p{
    font-size: 16px;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: skyblue;
    border-radius: 10px;
    transition: 0.5s ease;
    text-decoration: none;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 12px skyblue;
}

.footer-iconTop a i{
    font-size: 24px;
    color: #0E0F34;
    text-decoration: none;
}

